<section class="testimonials section-padding">
    <div class="container">
        <div class="section-header" data-aos="fade-up">
            <span class="section-subtitle">Depoimentos</span>
            <h2 class="section-title">O que dizem sobre meu trabalho</h2>
            <div class="section-divider"></div>
        </div>
        
        <div class="testimonials-slider" data-aos="fade-up" data-aos-delay="200">
            <div class="testimonial-item active">
                <div class="testimonial-content">
                    <div class="testimonial-stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <p>"Gostaria de expressar minha profunda gratidão pelo incrível trabalho que Victor realizou ao desenvolver o site da nossa escola. Sua dedicação e talento foram evidentes em cada detalhe do projeto, e o resultado final excedeu todas as nossas expectativas. O design e Funcionalidade do site tornou a navegação extremamente fácil para alunos, pais e funcionários. Muito obrigada!"</p>
                    <div class="testimonial-author">
                        <img src="assets/images/tiacarla.png" alt="Escola Tia Carla">
                        <div class="author-info">
                            <h4>Equipe ETC</h4>
                            <span>Escola Tia Carla</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="testimonial-item">
                <div class="testimonial-content">
                    <div class="testimonial-stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <p>"O conhecimento do Victor em arquiteturas modernas como DDD e Arquitetura Hexagonal foi essencial na transformação dos nossos sistemas. Profissional de alto nível técnico."</p>
                    <div class="testimonial-author">
                        <img src="https://via.placeholder.com/60x60/f093fb/ffffff?text=MS" alt="Marina Santos">
                        <div class="author-info">
                            <h4>Marina Santos</h4>
                            <span>Arquiteta de Software - Bradesco</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="testimonial-item">
                <div class="testimonial-content">
                    <div class="testimonial-stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <p>"Estou aqui para te agradecer pelo site desenvolvido e elaborado de acordo ao meu segmento, você conseguiu colocar todos os pontos que precisava, ficando harmônico e muito elaborado!! Ficou muito bommm! Do jeitinho que eu queria! Muito obrigada!"</p>
                    <div class="testimonial-author">
                        <img src="assets/testemonials/drakarolgoncalves-testemonial.jpg" alt="Dra Karoline Gonçalves">
                        <div class="author-info">
                            <h4>Dra Karoline Gonçalves</h4>
                            <span>Odontologista</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="testimonial-navigation">
            <button class="testimonial-prev"><i class="fas fa-chevron-left"></i></button>
            <div class="testimonial-dots">
                <span class="dot active"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
            <button class="testimonial-next"><i class="fas fa-chevron-right"></i></button>
        </div>
    </div>
</section>